

        .container {
            width: 100vw;
            height: 100vh;
            background: white;
            padding: 0px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
            overflow: hidden;
            box-sizing: border-box;
        }

        h1 {
            text-align: center;
            margin-top: 0;
            margin-bottom: 10px;
            font-size: 22px;
        }

        .control-panel {
            padding: 10px;
            background-color:#EFF4FE;
            border-radius: 10px;
            margin-bottom: 10px;
        }

        .info-display {
            display: flex;
            align-items: center;
            
            font-size: 14px;
            font-weight: bold;
            padding-top: 5px;
            padding-bottom:5px;
        }

        .distance-box {
            background-color: #f0f1ff;
            padding: 8px 12px;
            border-radius: 20px;
            display: inline-flex;
            align-items: center;
        }

        .arrow {
            font-size: 12px;
            color: #333;
            margin-left: 8px;
        }

        .control-panel button {
            margin-right: 10px;
            padding: 10px 20px;
            background-color: #717AEA;
            color: white;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            font-size: 16px;
            position: relative;
        }

        .control-panel button.toggle {
            background-color: #9e9e9e;
            transition: background-color 0.3s ease;
        }

        .control-panel button.toggle.active {
            background-color: #717AEA;
        }

        .control-panel button.clear {
            background-color: #d32f2f;
        }

        .control-panel button.clear:hover {
            background-color: #b71c1c;
        }

        .control-panel button:hover {
            background-color: #717AEA;
        }

        .control-panel button.button-pressed {
            transform: scale(0.95);
        }

        .ripple {
            position: absolute;
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 0.4);
            transform: scale(0);
            animation: ripple 0.6s linear;
            pointer-events: none;
        }

        @keyframes ripple {
            to {
                transform: scale(2.5);
                opacity: 0;
            }
        }

        .layout-container {
            display: flex;
            gap: 20px;
            flex: 1;
            min-height: 0;
            padding:5px;
        }

        .left-container {
            width: 70%;
        }

        #visualization {
            width: 100%;
            height: 100%;
            background-color: white;
            position: relative;
            border-radius: 26px;
            overflow: hidden;
            border: 1px solid #ccc;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .point {
            position: absolute;
            width: 7px;
            height: 7px;
            background-color: red;
            border-radius: 50%;
            transform: translate(-50%, -50%);
            cursor: pointer;
            transition: transform 0.2s ease;
            z-index: 10;
        }

        .point.photo-captured {
            /* background-color: blue; */
            background-image: url('../assets/image.png');
            width: 30px;
            height: 30px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 50%;
            /* border: 2px solid white; */
        }

        .point:hover {
            transform: translate(-50%, -50%) scale(1.5);
        }

        /* Right container styling */
.right-container {
    width: 30%;
    min-width: 300px;
    background-color: white;
            position: relative;
            border-radius: 26px;
            border: 1px solid #ccc;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: auto;
    padding-top:10px;
}
.right-container::-webkit-scrollbar {
    display: none; /* Hide scrollbar in Chrome, Safari, Edge */
}

#imageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 15px;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    flex: 1;
    flex-wrap: wrap;
}

/* Modern Card Design */
.card {
    display: flex;
    flex-direction: column;
    background-color: #F9F9FF;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.card-image-container {
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #EFF1FF;
    padding:5px;
}

.card-image {
    max-width: 100%;
    /* max-height: 100%; */
    object-fit: contain;
}

.card-content {
    padding: 15px;
    color: #717AEA;
}
.card-info-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; /* Four equal columns */
    gap: 10px;
    text-align: left;
    margin-bottom: 8px;
    width:100%;
  }
  
  .card-info-label {
    width: 25%;
  flex: 0 0 25%; /* This ensures each span takes exactly 25% width */
  box-sizing: border-box; 
    color: black;
    font-weight: 400;
    text-align: left;
  }
  
  .card-info-value {
    color:#717AEA;
    font-weight: 600;
    width: 25%;
  flex: 0 0 25%; /* This ensures each span takes exactly 25% width */
  box-sizing: border-box; 
    /* font-weight: normal; */
    text-align: left;
  }

.card-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
    /* border-bottom: 2px solid #EFF1FF; */
  }
  

  



.card-button {
    background-color: #6c63ff;
    color: white;
    border: none;
    padding: 10px 0;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.3s ease;
    width: 100%;
    font-weight: 500;
    margin-top: 5px;
}

.card-button:hover {
    background-color: #5548d9;
}
.card-toggle {
    color: #717AEA;  /* Blue text */
    cursor: pointer;
    text-align: center;
    font-weight: 600;
    /* padding: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    border-top: 2px solid #EFF1FF;
}

.card-toggle .arrow {
    transition: transform 0.3s ease-in-out;
}

.card-extra-content {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
    background: #FFFFFF;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.extra-content-container {
    background: #fcfcff; /* Light background */
    padding: 12px;
    border-radius: 6px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    margin-bottom: 15px;
}

.extra-header {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    color: #1a1a5e;
}

.extra-icon {
    width: 18px;  /* Adjust size */
    height: 18px;
    margin-right: 6px;
}

.extra-description {
    font-size: 14px;
    font-weight: 400;
    color: #929292;
    margin-top: 6px;
}

.extra-details {
    font-size: 14px;
    font-weight: 400;
    color: #929292;
    line-height: 1.5;
}

.no-images-message {
    text-align: center;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    color: #6c757d;
}
/* .tooltip-container {
    position: absolute;
    transform: translate(-50%, -100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
  }
  
  .tooltip-content {
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .tooltip-image {
    width: 100%;
    border-radius: 8px;
  }
  
  .tooltip-text {
    font-size: 14px;
    margin-top: 5px;
    color: #555;
  }
  
  .tooltip-highlight {
    color: #7a52d1;
    font-weight: bold;
  }
  
  .tooltip-arrow {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid white;
    margin-top: -2px;
    filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.1));
  }
   */
   .tooltip-container {
    display: flex;
    height: 300px;
    width: 100%;
    align-items: center;
    justify-content: center;
    /* background-color: #f5f5f5; */
    padding: 16px;
  }
  
  .phone-display {
    position: relative;
    height: 200px;
    width: 250px;
    background-color: #e5e5e5;
    border-radius: 4px;
    border: 1px solid #d1d1d1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .tooltip {
    position: absolute;
    /* top: 48px;
    left: 50%; */
    transform: translate(-50%, -100%);
    background-color: white;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    box-shadow: 0px 4px 6px -4px rgba(0, 0, 0, 0.1);
    padding: 5px;
    width: 100px;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .imagetooltip-container {
    width: 100%;
    margin-bottom: 1px;
  }
  
  .tooltip-image {
    height: 50px;
    width: 100%;
    object-fit: contain;
    border-radius:20px;
  }
  
  .measurement-text {
    width: 100%;
    font-size: 10px;
    display: flex;
    justify-content: center;
  }
  
  .measurement-label {
    font-weight: 500;
    color: #1E1E47;
  }
  
  .measurement-value {
    font-weight: 600;
    color: #717AEA;
    margin-left: 4px;
  }
  
  .tooltip-pointer {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%) rotate(45deg);
    width: 8px;
    height: 8px;
    background-color: white;
    border-right: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
  }
  
  .display-text {
    font-size: 14px;
    color: #666;
  }

/* Active card styling */
.card.active {
    border: 2px solid #6c63ff;
}
.control-panel div {
    display: flex;
    align-items: center; /* Align items vertically */
    gap: 10px; /* Add spacing between buttons */
  }
  
  button {
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
  }
        .distance-display {
            display: inline-block;
            padding: 10px 0;
            margin-left: 0;
            font-weight: bold;
            font-size: 16px;
            color: #000000;
        }
        .toggle-container {
            display: flex;
            align-items: center;
            background:white;
            padding: 10px 15px;
            border-radius: 12px;
            margin-right: 20px;
            font-family: Arial, sans-serif;
            font-size: 16px;
            font-weight: bold;
            color: #333;
            width: 156px;
            justify-content: space-between;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
          }
          
          .toggle-container input {
            display: none;
          }
          
          .slider {
            width: 40px;
            height: 20px;
            background: #e5e7fb;
            border-radius: 10px;
            position: relative;
            transition: 0.3s;
            cursor: pointer;
          }
          
          .slider::before {
            content: "";
            width: 18px;
            height: 18px;
            background: #888;
            position: absolute;
            border-radius: 50%;
            top: 1px;
            left: 2px;
            transition: 0.3s;
          }
          
          input:checked + .slider {
            background: #dce1ff;
          }
          
          input:checked + .slider::before {
            background: #6366f1;
            transform: translateX(20px);
          }

        .no-images-message {
            text-align: center;
            padding: 20px;
            background-color: #f8f9fa;
            border-radius: 10px;
            color: #6c757d;
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url('./images/store_layout.png');
            /* Replace with actual image */
            background-size: cover;
            background-position: center;
            opacity: 0.3;
            /* Adjust for transparency */
            z-index: 1;
            /* Ensures it stays on top */
            pointer-events: none;
            /* Prevents interaction with the overlay */
        }

        /* Responsive improvements */
        @media screen and (max-width: 1400px) {
            .card-image {
                width: 100vw;
                height: 100vh;
            }

            .card.active .card-image {
                width: 120px;
                height: 120px;
            }
        }

        @media screen and (max-width: 992px) {
            .layout-container {
                flex-direction: column;
            }

            .left-container,
            .right-container {
                width: 100%;
            }

            .right-container {
                min-width: 100%;
            }
        }

        /* Custom scrollbar for the image container */
        #imageContainer::-webkit-scrollbar {
            width: 8px;
        }

        #imageContainer::-webkit-scrollbar-track {
            background: #f1f1f1;
            border-radius: 10px;
        }

        #imageContainer::-webkit-scrollbar-thumb {
            background: #7e57c2;
            border-radius: 10px;
        }

        #imageContainer::-webkit-scrollbar-thumb:hover {
            background: #6a4aaa;
        }

        /* Store structures styling */
.structure svg path {
    transition: fill-opacity 0.3s ease;
  }
  
  .structure svg text {
    pointer-events: none; /* Prevents text from interfering with hover effects */
    text-shadow: 0 0 3px white; /* Makes text more readable */
  }
  
  /* Type-specific hover effects */
  .structure.shelf svg path:hover {
    fill: #7CB342;
  }
  
  .structure.counter svg path:hover {
    fill: #F57C00;
  }
  
  .structure.entrance svg path:hover {
    fill: #1976D2;
  }
  
  .structure.display svg path:hover {
    fill: #C2185B;
  }
  
  /* Legend styling */
  .legend {
    font-size: 12px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 20;
  }
  
  .legend div span {
    font-family: Arial, sans-serif;
  }
